<!DOCTYPE html>
<html>
    <head>
	<title>Statusz</title>
	<style>
	 * {
	     box-sizing: border-box;
	 }
	 .section {
	     border-radius: 2px;
	     border: 3px solid #eaeaea;
	     padding: 2px;
	     margin: 1px;
	 }
	 .column {
	     float: left;
	     padding: 10px;
	 }
	 .row:after {
	     content: "";
	     display: table;
	     clear: both;
	 }
	 .column.left {
	     width: 50%;
	     text-align: left;
	 }
	 .column.right {
	     width: 50%;
	     text-align: right;
	 }
	</style>
    </head>
    <body>
	<h1>Statusz</h1>
	<div class="main-info section row">
	    <div class="column left">
		<div>Command: <code>{{.Invocation}}</code></div>
		<div>PID: {{.Pid}}</div>
		<div>Launched at: {{.LaunchTime}}</div>
		<div>Runtime: {{.Runtime}}</div>
		<div>Hostname: {{.Hostname}}</div>
	    </div>
	    <div class="column right">
		{{with .BuildTime}}
		    <div>Build Time: {{.}}</div>
		{{end}}
		{{with .CommitHash}}
		    <div>Commit Hash: {{.}}</div>
		{{end}}
		<div>Go Version: {{.GoVersion}}</div>
		<div>GOARCH: {{.Goarch}}</div>
		<div>GOOS: {{.Goos}}</div>
		<div>GC: {{.Gc}}</div>
	    </div>
	</div>
	<div class="program-info section row">
	    <div># of Goroutines: {{.NumGoroutine}}</div>
	    {{range $tag, $value := .OtherData}}
		<div>{{$tag}}: {{$value}}</div>
	    {{end}}
	</div>
	<div class="environment row">
	    <h3>Environment Variables</h3>
	    {{range $i, $kv := .Environment}}
		<div>{{$kv}}</div>
	    {{end}}
	</div>
    </body>
</html>
